<h1 class="text-white text-center"><%= @group.name %> Group Transactions</h1>

<div class="g-bg p-3">
<%= link_to 'Edit Group', edit_group_path(@group),class:"btn btn-info form-control" %>
<p class="text-center">
  <%= link_to 'Back', groups_path %>
</p>
</div>
