<div class="d-flex flex-row justify-content-between p-3">
  <%= link_to '<i class="fas fa-bars fa-2x text-white"></i>'.html_safe, home_main_path %>
  <h2 class="text-white text-center">My External Expenses</h2>
  <%= link_to '<i class="fas fa-sign-out-alt fa-2x text-white"></i>'.html_safe, destroy_user_session_path, method: :delete %>
</div>