<div class="container mt-5 text-center">
  <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.email,class:"rounded-circle")%>
  <p class="text-white p-3"><%=current_user.email %> </p>
  
  <%= link_to 'Log out', destroy_user_session_path, method: :delete,class:"btn btn-danger form-control"%>
</div>